
* { box-sizing:border-box; }
body { background-color:#369; color:#fff; font-family:'Franklin Gothic Medium','Arial Narrow',Arial,sans-serif; }
input, select { background-color:#fff; color:#000; flex-grow: 1; }
button { background-color:#58b; }
button, input, select { box-shadow: 0 0 0 0.7rem rgba(0, 0, 0, 0.3); }
.tip-ok { color: #9f9; }
.tip-alert { color: #ff9; }
.tip-error { color: #f99; }
hr { width:100%; border: 0; border-top: 1px solid white; margin: 1em 0; }
body > * { width: 50%; margin-left: auto; margin-right: auto; }
.form-group, .form-group-checkbox { padding-top:1rem; width:100%; }
.form-group-button { padding-top: 1rem; padding-left: 30%; width:100%; }
.form-group > label { display:inline-block; position:relative; width:16vw; }
.form-group-checkbox > :first { width:2rem; }
input, select { width:32vw;  }
label, input, select, button {
    border: none;
    border-radius:0.3rem;
    height:2rem;
    padding: 0.5, 0.5, 0;
}
button { padding-left: 2em; padding-right: 2em; }
input.short, select.short { width:20vw; }
.tip-ok, .tip-alert, .tip-error {
    background-color: rgba(0, 0, 0, 0.5);
    bottom:110%;
    left:100%;
    width:23vw;
    position:absolute;
    box-shadow: 0 0 0 0.3rem rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.alert-modal {
    position:fixed;
    top: 3rem;
    right:3rem;
    width: 30vw;
    background-color:#800;
    color: #fff;
    border: 1px solid white;
    padding:2em;
    box-shadow: 0 0 0 0.7rem rgba(0, 0, 0, 0.5);
}

.center { text-align:center; }
.center > * { display: inline-block; margin-left: 1rem; }
.center > :first { margin-left: 0; }
